@font-face {
    font-family: 'Maison';
    src: url(../fonts/maison-neue-mono.woff2);
}

@font-face {
    font-family: 'Rz-regular';
    src: url(../fonts/rz-regular.woff2);
    font-weight: 1000;
}

/* settings */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section:nth-of-type(odd) {
    padding: 5% 0;
}

nav {
    padding: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    font-family: 'Rz-regular';
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: 'Rz-regular';
    margin: 0;
}

h2 {
    font-family: 'Maison';
    font-size: 0.8em;
    margin: 0;
}

p {
    font-family: 'Rz-regular';
}

/* dark mode  */

.changeButton {
    position: fixed;
    width: 58px;
    height: 58px;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    font-family: 'Maison';
    right: 0;
    top: 0;
}

main > input:nth-of-type(1) {
    margin-right: -10%;
}

/* header */

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 10%;
    background: #000;
    border-bottom: 1px solid #fff;
}

header > nav > h1 {
    font-size: 1em;
    color: #fff;
}

header > nav > ul {
    display: flex;
}

header > nav > ul > li {
    margin-left: 3em;
}

header > nav > ul > li > a {
    font-size: 1em;
    letter-spacing: -1px;
    color: #fff;
}

/* head section  */

.topText {
    position: absolute;
    margin-left: 9%;
    margin-right: 9%;
}

.topText > h1 {
    font-size: 7.5vw;
    line-height: 9vw;
    color: #fff;
}

.topText > h1 > span{
    color: #fff;
    -webkit-text-stroke: 3px #000;
}

#topHead {
    background: #000;
}

#topHead > article {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#topHead > article > img {
    width: 23%;
}

#topHead > article > img:nth-of-type(1) {
    margin-top: 17%;
}

#topHead > article > img:nth-of-type(2) {
    width: 19%;
    margin-top: 26%;
}

#topHead > article > img:nth-of-type(3) {
    margin-top: 12%;
}

#topHead > article > img:nth-of-type(1) {
    content: url("../img/darkmode-img/image_12.jpg");
    margin-top: 17%;
}

#topHead > article > img:nth-of-type(2) {
    content: url("../img/darkmode-img/image_4.jpg");
    width: 19%;
    margin-top: 26%;
}

#topHead > article > img:nth-of-type(3) {
    content: url("../img/darkmode-img/image_5.jpg");
    margin-top: 12%;
}

/* section skills */

#agency {
    justify-content: center;
    display: flex;
    padding: 15% 10%;
    background: #000;
}

.textBoxOne {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 15%;
}

.textBoxTwo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#agency > div > h2 {
    margin-bottom: 3em;
    color: #fff;
}

#agency > div > h1 {
    font-size: 2em;
    color: #fff;
}

#agency > div > p {
    font-size: 0.9em;
    color: #fff;
}

/* section projects */

#project {
    background: #000;
}

#project > h2 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.projectsTabs {
    display: flex;
    flex-direction: column;
}

.projectsTabs > article {
    display: flex;
    justify-content: space-between;
    margin: 7% 0;
}

.projectsTabs > article:first-of-type {
    margin-top: 0;
    margin-bottom: 7%;
}

.projectsTabs > article:nth-of-type(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.projectsTabs > article:nth-of-type(even) > .projectName {
    text-align: left;
}

.projectName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 50%;
}

.projectName > h1 {
    font-size: 2.2em;
    letter-spacing: 0.1em;
    color: #fff;
}

.projectName > h2 {
    color: #fff;
}

.projectPhoto {
    display: flex;
}

.projectPhoto > img {
    width: 40vw;
}

.imageOne > img {
    content: url('../img/darkmode-img/image_1.jpg');
}

.imageTwo > img {
    content: url('../img/darkmode-img/image_2.jpg');
}

.imageThree > img {
    content: url('../img/darkmode-img/image_6.jpg');
}

.imageFour > img {
    content: url('../img/darkmode-img/image_7.jpg');
}

.imageFive > img {
    content: url('../img/darkmode-img/image_8.jpeg');
}

/* section end */

#contact {
    background: #000;
    padding: 10% 10%;
}

#contact > h1 {
    color: #fff;
    font-size: 7.5em;
    width: 70%;
    line-height: 1em;
    margin-bottom: 5%;
}

.sendButton {
    width: 14vw;
    height: 8vh;
    border: 2px solid #fff;
    background: #000;
    color: #fff;
    font-family: 'Maison';
    font-size: 0.8em;
    cursor: pointer;
}

.sendButton:hover {
    box-shadow:  8px 8px 0 0 #fff;
}

/* footer */

footer {
    padding: 2% 0;
    background: #000;
}

footer > h1 {
    font-size: 0.9em;
    text-align: center;
    color: #fff;
}